* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url("../src/background.jpg");
  background-position: center;
  background-size: cover;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.inputBox {
  width: 32%;
  margin: auto;
}


.editIcons {
  color: green;
  font-size: 25px !important;
  cursor: pointer;
}

.deleteIcons {
  color: red !important;
  font-size: 25px !important;
  margin-left: 25px !important;
  cursor: pointer;
}

.sectionTab {
  width: 40%;
  margin-bottom: 20px;
 justify-content: space-between;
  display: flex;

}

.alert {
  width: 28%;
  margin: auto;
  padding: 13px;
  text-align: center;
}